.app {
  max-width: 100%;
  margin:0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* GamePage.css */
.game-page {
  text-align: center;
}

/* Grid.css */
.grid {
  display: grid;
  /* grid-template-rows: repeat(auto-fill, 20px); */
  grid-template-columns: repeat(40,20px);
  gap: 1px;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.alive {
  background-color: #000;
}

/* ControlPanel.css */
.control-panel {
  margin-top: 20px;
}

.control-panel input {
  margin-right: 10px;
}

.control-panel button {
  margin-left: 10px;
}

